<div class="container-bar">
    <mat-toolbar class="heading-bar mat-elevation-z2">
        <span class="heading-text">Categories</span>
        <span class="example-spacer"></span>
        <button class="action-btn header-add-btn" mat-raised-button color="accent" (click)="openAddForm()"
            *ngIf="!showForm">
            <mat-icon>add</mat-icon>Add Category
        </button>

        <ng-container *ngIf="showForm">
            <button mat-raised-button color="primary" class="action-btn" (click)="onSubmit()"
                [disabled]="categoryForm.invalid || (mode === 'edit' && categoryForm.pristine)">
                <mat-icon>save</mat-icon>Add Category</button>
            <button mat-raised-button type="reset" color="basic" class="action-btn reset-btn" (click)="resetData()">
                <mat-icon>restart_alt</mat-icon>Reset
            </button>
            <button mat-raised-button type="button" color="warn" class="action-btn cancel-btn" (click)="closeForm()">
                <mat-icon>close</mat-icon>Cancel
            </button>
        </ng-container>

    </mat-toolbar>


    <div *ngIf="showForm" class="form-section card-wrapper mat-elevation-z3 animate-fade-in">
        <div class="container">
            <div class="section-header">
                <mat-icon color="primary">edit_note</mat-icon>
                <h3>Product Category Registration Form</h3>
            </div>
            <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">

                <mat-form-field appearance="outline" class="form-field">
                    <mat-label>Name</mat-label>
                    <input matInput type="text" placeholder="Name" formControlName="categoryName" />
                    <mat-error *ngIf="categoryForm.get('categoryName')?.hasError('required')">This input is
                        required</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="form-field">
                    <mat-label>Description</mat-label>
                    <input matInput type="text" placeholder="Description" formControlName="description" />
                    <mat-error *ngIf="categoryForm.get('description')?.hasError('required')">This input is
                        required</mat-error>
                </mat-form-field>



            </form>
        </div>
    </div>

    <!-- Table Section -->

    <div class="table-section card-wrapper mat-elevation-z3">
        <div class="table-header-row">
            <div class="table-title">
                <mat-icon color="primary">layers</mat-icon>
                <h3>Registered Product Categories</h3>
            </div>

            <div class="refresh-filter-section">
                <button mat-icon-button class="refresh-btn-ui" (click)="refreshData()" matTooltip="Refresh Data Table">
                    <mat-icon>refresh</mat-icon>
                </button>
                <mat-form-field appearance="outline" class="filter">
                    <mat-label>Search Categories...</mat-label>
                    <input matInput (keyup)="applyFilter($event)" placeholder="Ex: Chocolate Cake, Butter Cake..."
                        #input />
                    <mat-icon matPrefix color="primary">search</mat-icon>
                </mat-form-field>
            </div>
        </div>

        <div class="responsive-table-container">
            <table mat-table [dataSource]="dataSource" matSort>

                <ng-container matColumnDef="categoryName">
                    <th mat-header-cell *matHeaderCellDef> Category Name</th>
                    <td mat-cell *matCellDef="let category"> {{category.categoryName}} </td>
                </ng-container>

                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef> Description </th>
                    <td mat-cell *matCellDef="let category"> {{category.description}} </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> Actions </th>
                    <td mat-cell *matCellDef="let category">
                        <div class="action-buttons-container">
                            <button mat-icon-button class="action-icon-btn edit-icon"
                                (click)="editData(category); showForm = true" *ngIf="!showForm"
                                matTooltip="Edit Item Parameters">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-icon-button class="action-icon-btn delete-icon"
                                (click)="deleteData(category.categoryId)" matTooltip="Remove Item Permanent">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>

                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>

        <mat-paginator [pageSizeOptions]="[10, 20, 25, 100]" aria-label="Select page of users"></mat-paginator>


    </div>
</div>