<div class="container">
  <mat-toolbar color="primary">
    <span>Product registration</span>
    <span class="example-spacer"></span>
    <button class="form-button" mat-raised-button color="warn" (click)="showForm = true" *ngIf="!showForm">
      +Add Product
    </button>
  </mat-toolbar>
</div>

<div class="form-section" *ngIf="showForm">
  <form [formGroup]="ProdRegForm" (ngSubmit)="onSubmit()" class="example-form">
    <div class="example-form-div">
      <mat-form-field class="full-width">
        <mat-label>Product Id</mat-label>
        <input matInput placeholder="Enter product Id: PRD_ _ _" formControlName="productId">
        <span class="text-danger" *ngIf="(ProdRegForm.get('productId')?.touched || submitted) && ProdRegForm.get('productId')?.errors && ProdRegForm.get('productId')?.errors!['required']">
          Product Id is required
        </span>
        <span class="text-danger" *ngIf="ProdRegForm.get('productId')?.errors && ProdRegForm.get('productId')?.errors!['pattern']">
          Product code is invalid
        </span>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Product Name</mat-label>
        <input matInput placeholder="Enter product Name" formControlName="productName">
        <span class="text-danger">

        </span>
        <span class="text-danger">

        </span>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Description</mat-label>
        <input matInput placeholder="Enter product Description" formControlName="description">
        <span class="text-danger">

        </span>
        <span class="text-danger">

        </span>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Price</mat-label>
        <input matInput placeholder="Enter price of the product" formControlName="price">
        <span class="text-danger">

        </span>
        <span class="text-danger">

        </span>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Size</mat-label>
        <input matInput placeholder="Select size of the product" formControlName="size">
        <span class="text-danger">

        </span>
        <span class="text-danger">

        </span>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Quantity</mat-label>
        <input matInput placeholder="Enter Quantity" formControlName="quantity">
        <span class="text-danger">

        </span>
        <span class="text-danger">

        </span>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Insert Image</mat-label>
        <input matInput placeholder="Insert the image of the product" formControlName="image">
        <span class="text-danger">

        </span>
        <span class="text-danger">

        </span>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Created at</mat-label>
        <input matInput placeholder="Enter the date " formControlName="createdAt">
        <span class="text-danger">

        </span>
        <span class="text-danger">

        </span>
      </mat-form-field>
    </div>
    <button type="submit" color="primary" class="form-button" mat-raised-button>{{saveButtonLabel}}</button>
    <button type="reset" color="secondary" class="form-button" mat-raised-button (click)="resetData()">Reset</button>
    <button mat-raised-button type="button" class="form-button" color="warn" (click)="closeForm()">Cancel</button>
  </form>
</div>