<h2 mat-dialog-title>Edit Profile</h2>

<mat-dialog-content>
  <form [formGroup]="profileForm">

    <mat-form-field class="full-width">
      <mat-label>Enter new email</mat-label>
      <input matInput formControlName="email">
      <mat-error class="text-danger" *ngIf="
        (profileForm.get('email')?.touched || submitted) &&
        profileForm.get('email')?.errors &&
        (profileForm.get('email')?.errors)!['required']
      ">
        Enter the Email address
      </mat-error>

      <mat-error class="text-danger" *ngIf="
        profileForm.get('email')?.errors &&
        (profileForm.get('email')?.errors)!['email']
      ">
        Enter a valid Email address
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Current Password</mat-label>
      <input matInput formControlName="currentPassword" type="{{hidePassword ? 'password' : 'text'}}">
      <button mat-icon-button type="button" matSuffix (click)="togglePasswordVisibility()">
        <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error class="text-danger" *ngIf="(profileForm.get('currentPassword')?.touched || submitted) &&
        profileForm.get('currentPassword')?.errors &&
        (profileForm.get('currentPassword')?.errors)!['required']">
        Enter the current password
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>New Password</mat-label>
      <input matInput formControlName="newPassword" type="{{hidePassword ? 'password' : 'text'}}">
      <button mat-icon-button type="button" matSuffix (click)="togglePasswordVisibility()">
        <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error class="text-danger" *ngIf="(profileForm.get('newPassword')?.touched || submitted) &&
        profileForm.get('newPassword')?.errors &&
        (profileForm.get('newPassword')?.errors)!['required']">
        Enter the new password
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Confirm Password</mat-label>
      <input matInput placeholder="Enter password again" formControlName="confirmPassword"
        type="{{hidePassword ? 'password' : 'text'}}">
      <button mat-icon-button type="button" matSuffix (click)="togglePasswordVisibility()">
        <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error class="text-danger" *ngIf="(profileForm.get('newPassword')?.touched || submitted) &&
        profileForm.get('newPassword')?.errors &&
        (profileForm.get('newPassword')?.errors)!['required']">
        Enter password again
      </mat-error>
    </mat-form-field>

  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-raised-button color="primary" (click)="updateProfile()">Save</button>
</mat-dialog-actions>