<!-- <mat-toolbar class="navbar">
  <span class="spacer"></span>
  <section>
    <div class="example-button-row">
      <button class="login-button" mat-raised-button routerLink="/login" routerLinkActive="active">Login</button>
    </div>
  </section>
</mat-toolbar> -->

<app-nav-bar></app-nav-bar>


<app-side-bar [isSidebarCollapsed]="isSidebarCollapsed()"
  (changeIsSidebarCollapsed)="changeIsSidebarCollapsed($event)"></app-side-bar>
<app-main [isSidebarCollapsed]="isSidebarCollapsed()" [screenWidth]="screenWidth()"></app-main>


<div class="main-content">
  <router-outlet></router-outlet>
</div>