<div class="orders-container">

    <mat-toolbar class="heading-bar mat-elevation-z2">
        <span class="heading-text">Placed Orders</span>
    </mat-toolbar>

    <table mat-table [dataSource]="orders" class="orders-table mat-elevation-z8">

        <!-- Order ID -->
        <ng-container matColumnDef="orderId">
            <th mat-header-cell *matHeaderCellDef> Order ID </th>
            <td mat-cell *matCellDef="let order"> #{{order.orderId}} </td>
        </ng-container>

        <!-- Customer -->
        <ng-container matColumnDef="customer">
            <th mat-header-cell *matHeaderCellDef> Customer </th>
            <td mat-cell *matCellDef="let order">
                <div class="customer-cell">
                    <strong>{{order.customerName}}</strong>
                    <small>{{order.phone}}</small>
                </div>
            </td>
        </ng-container>

        <!-- Total -->
        <ng-container matColumnDef="totalAmount">
            <th mat-header-cell *matHeaderCellDef> Total </th>
            <td mat-cell *matCellDef="let order"> LKR {{order.totalAmount}} </td>
        </ng-container>

        <!-- Quantity -->
        <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef> Qty </th>
            <td mat-cell *matCellDef="let order"> {{order.quantity}} </td>
        </ng-container>

        <!-- Status -->
        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let order">
                <span class="status-badge">
                    {{order.status}}
                </span>
            </td>
        </ng-container>

        <!-- Delivery -->
        <ng-container matColumnDef="deliveryDate">
            <th mat-header-cell *matHeaderCellDef> Delivery </th>
            <td mat-cell *matCellDef="let order">
                {{order.deliveryDate | date}}
            </td>
        </ng-container>

        <!-- Actions -->
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let order">
                <div class="action-flex-container">
                    <!-- <select class="select-value" [(ngModel)]="order.status">
                        <option *ngFor="let status of statuses" [value]="status">
                            {{status}}
                        </option>
                    </select> -->

                    <select class="select-value" [(ngModel)]="order.status">
                        <option *ngFor="let status of getAllowedStatuses(order.originalStatus)" [value]="status">
                            {{status}}
                        </option>
                    </select>

                    <button class="update-btn" (click)="changeStatus(order.orderId, order.status)"
                        [disabled]="order.status === order.originalStatus">
                        Update
                    </button>

                    <!-- <button class="view-btn" (click)="toggleItems(order.orderId)">
                        {{ expandedOrderId === order.orderId ? 'Hide Details' : 'View Details' }}
                    </button> -->

                    <button class="view-btn" (click)="viewDetails(order)">
                        View Details
                    </button>
                </div>

            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <!-- <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> -->
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" [class.delivered-row]="row.status === 'DELIVERED'"
            [class.cancelled-row]=" row.status==='CANCELLED'"></tr>

    </table>



</div>