<!-- <mat-toolbar class="navbar">
  <span class="spacer"></span>
  <section>
    <ng-container *ngIf="this.auth.isAuthenticated();then authenticated;else notAuthenticated">

    </ng-container>
    <ng-template #notAuthenticated>
      <div class="example-button-row">
        <button class="login-button" mat-raised-button routerLink="/login" routerLinkActive="active">Login</button>
      </div>
    </ng-template>

    <ng-template #authenticated>
      <div class="example-button-row">
        <button class="logout-button" mat-raised-button (click)="logout()">Logout</button>
      </div>
    </ng-template>

  </section>
</mat-toolbar> -->



<div *ngIf="!isLoggedIn">
  <mat-toolbar class="navbar">
    <span class="spacer"></span>
    <section>
      <div class="example-button-row">
        <button class="login-button" mat-raised-button routerLink="/login" routerLinkActive="active">Login</button>
      </div>
    </section>
  </mat-toolbar>
</div>

<div *ngIf="isLoggedIn">
  <mat-toolbar class="navbar">
    <span class="spacer"></span>
    <section>
      <div class="example-button-row">
        <button mat-icon-button [matMenuTriggerFor]="notificationMenu" (click)="onBellClick()" class="icon-button">
          <!-- The badge is hidden if unreadCount is 0 -->
          <mat-icon class="bell-icon" [matBadge]="unreadCount" matBadgeColor="warn" [matBadgeHidden]="unreadCount === 0">
            notifications
          </mat-icon>
        </button>
        <mat-menu #notificationMenu="matMenu" panelClass="notification-dropdown">
          <div class="notification-header" (click)="$event.stopPropagation()">
            <h3>Notifications</h3>
          </div>
          
          <div class="notification-list">
            <div *ngIf="notifications.length === 0" class="empty-state">
              No new notifications
            </div>

            <!-- Loop through notifications -->
            <button mat-menu-item *ngFor="let notif of notifications" class="notification-item">
              <div class="notif-content">
                <span class="notif-title">{{ notif.title }}</span>
                <span class="notif-message">{{ notif.message }}</span>
              </div>
            </button>
          </div>
        </mat-menu>
        
        <button class="icon-button" mat-icon-button [matMenuTriggerFor]="profileMenu">
          <mat-icon class="big-icon">account_circle</mat-icon>
        </button>

        <mat-menu panelClass="user-box" #profileMenu="matMenu">
          <button mat-menu-item (click)="openEditProfile()">
            <mat-icon>edit</mat-icon>
            <span class="profile-button">Edit Profile</span>
          </button>

          <button mat-menu-item (click)="logout()">
            <mat-icon>logout</mat-icon>
            <span class="profile-button">Logout</span>
          </button>
        </mat-menu>
      </div>
    </section>
  </mat-toolbar>
</div>