<div class="container">
  <mat-toolbar class="heading-bar">
    <span class="heading-text">Employee registration</span>
    <span class="example-spacer"></span>
    <button class="form-button" mat-raised-button color="warn" (click)="showForm = true" *ngIf="!showForm">
      +Add Employee
    </button>
  </mat-toolbar>

  <div *ngIf="showForm" class="form-section">
    <form [formGroup]="EmpRegForm" class="example-form" (ngSubmit)="onSubmit()">
      <div class="example-form-div">
        <div class="form-part">
          <!-- <mat-form-field class="full-width">
            <mat-label>Employee number</mat-label>
            <input
              matInput
              placeholder="Employee number: EMP_ _ _"
              formControlName="employeeNumber"
            />
            <span
              class="text-danger"
              *ngIf="
                (EmpRegForm.get('employeeNumber')?.touched || submitted) &&
                EmpRegForm.get('employeeNumber')?.errors &&
                (EmpRegForm.get('employeeNumber')?.errors)!['required']
              "
            >
              Employee number is required
            </span>
            <span
              class="text-danger"
              *ngIf="
                (EmpRegForm.get('employeeNumber')?.touched || submitted) &&
                EmpRegForm.get('employeeNumber')?.errors &&
                (EmpRegForm.get('employeeNumber')?.errors)!['pattern']
              "
            >
              Employee number should start with 'EMP'
            </span>
          </mat-form-field> -->

          <mat-form-field class="full-width">
            <mat-label>Employee name</mat-label>
            <input
              matInput
              placeholder="Employee name"
              formControlName="employeeName"
            />
            <span
              class="text-danger"
              *ngIf="
                (EmpRegForm.get('employeeName')?.touched || submitted) &&
                EmpRegForm.get('employeeName')?.errors &&
                (EmpRegForm.get('employeeName')?.errors)!['required']
              "
            >
              Name is required
            </span>
            <span
              class="text-danger"
              *ngIf="
                (EmpRegForm.get('employeeName')?.touched || submitted) &&
                EmpRegForm.get('employeeName')?.errors &&
                (EmpRegForm.get('employeeName')?.errors)!['pattern']
              "
            >
              Name should be letters
            </span>
          </mat-form-field>

          <mat-form-field class="full-width">
            <mat-label>NIC</mat-label>
            <input matInput placeholder="NIC" formControlName="nic" />
            <span
              class="text-danger"
              *ngIf="
                (EmpRegForm.get('nic')?.touched || submitted) &&
                EmpRegForm.get('nic')?.errors &&
                (EmpRegForm.get('nic')?.errors)!['required']
              "
            >
              Enter the NIC number
            </span>

            <span
              class="text-danger"
              *ngIf="
                EmpRegForm.get('nic')?.errors &&
                (EmpRegForm.get('nic')?.errors)!['pattern']
              "
            >
              Enter a valid NIC number
            </span>
          </mat-form-field>

          <mat-form-field class="full-width">
            <mat-label>Birthday</mat-label>
            <input
              matInput
              [matDatepicker]="picker"
              formControlName="birthday"
              [max]="maxDate"
            />
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker">
            </mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <span
              class="text-danger"
              *ngIf="
                (EmpRegForm.get('birthday')?.touched || submitted) &&
                EmpRegForm.get('birthday')?.errors &&
                (EmpRegForm.get('birthday')?.errors)!['required']
              "
            >
              Birthday is required
            </span>
          </mat-form-field>
        </div>

        <div class="form-part">
          <mat-form-field class="full-width">
            <mat-label>Address</mat-label>
            <input matInput placeholder="Address" formControlName="address" />
            <span
              class="text-danger"
              *ngIf="
                (EmpRegForm.get('address')?.touched || submitted) &&
                EmpRegForm.get('address')?.errors &&
                (EmpRegForm.get('address')?.errors)!['required']
              "
            >
              Address is required
            </span>
            <span
              class="text-danger"
              *ngIf="
                (EmpRegForm.get('address')?.touched || submitted) &&
                EmpRegForm.get('address')?.errors &&
                (EmpRegForm.get('address')?.errors)!['maxlength']
              "
            >
              Maximum lenght is 150
            </span>
          </mat-form-field>

          <mat-form-field class="full-width">
            <mat-label>Contact number</mat-label>
            <input
              matInput
              placeholder="Contact number"
              formControlName="contactNo"
            />
            <span
              class="text-danger"
              *ngIf="
                (EmpRegForm.get('contactNo')?.touched || submitted) &&
                EmpRegForm.get('contactNo')?.errors &&
                (EmpRegForm.get('contactNo')?.errors)!['required']
              "
            >
              Contact number is required
            </span>
            <span
              class="text-danger"
              *ngIf="
                EmpRegForm.get('contactNo')?.errors &&
                (EmpRegForm.get('contactNo')?.errors)!['pattern']
              "
            >
              Phone number should be 10 digits
            </span>
          </mat-form-field>

          <mat-form-field class="full-width">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" formControlName="email" />
            <span
              class="text-danger"
              *ngIf="
                (EmpRegForm.get('email')?.touched || submitted) &&
                EmpRegForm.get('email')?.errors &&
                (EmpRegForm.get('email')?.errors)!['required']
              "
            >
              Email is required
            </span>
            <span
              class="text-danger"
              *ngIf="
                EmpRegForm.get('email')?.errors &&
                (EmpRegForm.get('email')?.errors)!['email']
              "
            >
              Enter a valid email
            </span>
          </mat-form-field>

          <!-- <mat-form-field>
            <mat-label>Job role</mat-label>
            <mat-select
              matInput
              placeholder="Job role"
              formControlName="jobRole"
            >
              @for (jobRoles of jobRole; track jobRoles) {
                <mat-option [value]="jobRoles.value">{{
                  jobRoles.viewValue
                }}</mat-option>
              }
            </mat-select>
            <span
              class="text-danger"
              *ngIf="
                (EmpRegForm.get('jobRole')?.touched || submitted) &&
                EmpRegForm.get('jobRole')?.errors &&
                (EmpRegForm.get('jobRole')?.errors)!['required']
              "
            >
              Job role is required
            </span>
          </mat-form-field> -->

          <mat-radio-group
            aria-label="Select an option"
            formControlName="gender"
          >
            <mat-label>Gender</mat-label>
            <mat-radio-button value="Male">Male</mat-radio-button>
            <mat-radio-button value="Female">Female</mat-radio-button>
            <span
              class="text-danger"
              *ngIf="
                (EmpRegForm.get('gender')?.touched || submitted) &&
                EmpRegForm.get('gender')?.errors &&
                (EmpRegForm.get('gender')?.errors)!['required']
              "
            >
              Gender is required
            </span>
          </mat-radio-group>
        </div>
      </div>

      <button
        type="submit"
        color="primary"
        class="form-button"
        mat-raised-button
        [disabled]="isButtonDisabled"
      >
        {{ saveButtonLabel }}
      </button>
      <button
        type="reset"
        color="secondary"
        class="form-button"
        mat-raised-button
        (click)="resetData()"
      >
        Reset
      </button>
      <button
        mat-raised-button
        type="button"
        class="form-button"
        color="warn"
        (click)="closeForm()"
      >
        Cancel
      </button>
    </form>
  </div>
</div>
